<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
<title>FAQ 목록</title>
<script>
	window.onload = function() {
		fnFaqDetail($('#faqSeq').val());
	}

	function fnDelFileRow(obj) {
		let crudMode = $(obj).parent().children('.crudMode');

		if(crudMode.val() == 'R' || crudMode.val() == 'U') {
			crudMode.val('D');
			$(obj).closest('tr').hide();
			$(obj).closest('td').removeClass();
		} else {
			$(obj).parent('tr').remove();
		}

	}

	function fnFaqDetail(seq) {
		$.ajax({
			url		: '/faq/'+seq,
			method	: 'get',
			success	: function(res, result) {
				$('#faqTitle').val(res.faqTitle);
				$('#faqContent').val(res.faqContent);
				if(res.faqImgList.length > 0) {
					let html = '';
					res.faqImgList.forEach(function(v, idx) {
						html += '<tr class="imgTr">'
						html += '	<td class="imgTd">'
						html += '		<img class="img" src="/upload/'+v.faqImg+'" style="width: 200px;">';
						html += '		<input type="hidden" class="crudMode" value="R">';
						html += '		<input type="hidden" class="imgSeq" value='+v.imgSeq+'>';
						html += '		<input type="hidden" class="faqImg" value='+v.faqImg+'>';
						html += '		<input type="hidden" class="imgNm" value='+v.imgNm+'>';
						html += '		<input type="text" class="imgTitle" value='+v.imgTitle+' onchange="fnTtlChange(this)">';
						html += '		<input class="file" type="file" id="file'+idx+'" name="file" style="display:none;" onchange="fnFileUpload(this,'+idx+')" accept=".gif, .jpg, .png, .jpeg">';
						html += '		<label for="file'+idx+'" id="fileNm'+idx+'">'+v.imgNm+'</label>';
						html += '		<button type="button" onclick="fnDelFileRow(this)">-</button>';
						html += '	</td>'
						html += '</tr>'
					});
					$('#faqTable').append(html);
				}
			}
		})
	}

	// faq삭제
	function fnDelBtn(seq) {
		if(confirm('삭제하시겠습니까?')) {
			$.ajax({

				url 		: '/faq/'+seq,
				method 		: 'delete',
				dataType	: 'json',
				success : function(res) {
					alert('삭제되었습니다.');
					location.href = '/faq/list';
				},
				error : function() {
					console.log('에러발생');
				}
			});
		}
	}

	function fnRegBtn(seq) {
		if($('#faqTitle').val() == '') {
			alert('제목을 입력해 주세요');
			$('#faqTitle').focus();
			return;
		}

		if($('#faqContent').val() == '') {
			alert('내용을 입력해 주세요');
			$('#faqContent').focus();
			return;
		}

		$('.imgTr').each(function(v) {
			$(this).children().find('.file').attr('name', 'faqImgList['+v+'].imgFile');
			$(this).children().find('.crudMode').attr('name', 'faqImgList['+v+'].crudMode');
			$(this).children().find('.imgTitle').attr('name', 'faqImgList['+v+'].imgTitle');
			$(this).children().find('.faqImg').attr('name', 'faqImgList['+v+'].faqImg');
			$(this).children().find('.imgNm').attr('name', 'faqImgList['+v+'].imgNm');
			$(this).children().find('.imgSeq').attr('name', 'faqImgList['+v+'].imgSeq');
		});

		var formData = new FormData($('#frm')[0]);

		$.ajax({
			 url 		: '/faq/'+seq
			,method 	: 'put'
			,data 		: formData
			,contentType: false
			,processData: false
			,success	: function(res) {
				alert('저장 성공');
				location.reload();
			}
			,error 		: function(request) {
				alert(JSON.parse(request.responseText).reason);
			}
		});
	}

	// 이미지 파일 로우 추가
	function fnAddFileRow() {
		if($('.imgTd').length == 5) {
			alert('이미지는 최대 다섯개까지 추가 가능합니다.');
			return;
		}

		$('#addFileRow').tmpl([{idx : $('.file').length}]).appendTo('#faqTable');
	}

	// 이미지 유효성체크
	function fnFileUpload(obj, idx) {
		let crudMode = $(obj).parent().children('.crudMode');
		let fileNm = $(obj).val().split('/').pop().split('\\').pop();
		let _ext = fileNm.lastIndexOf('.')+1;

		let ext = fileNm.substring(_ext, fileNm.length).toLowerCase();
		if (/(\.gif|\.jpg|\.jpeg|\.png)$/i.test(obj.value) == false) {
			alert("이미지 형식의 파일을 선택하십시오");
			return;
		}

		$(obj).closest('td').find('.img').remove();
		if(crudMode.val() == 'R') {
			crudMode.val('U');
		}

		$('#fileNm'+idx).text(fileNm);
	}

	// 이미지 타이틀 변경시 U 원래값으로 다시 변경시 R
	function fnTtlChange(obj) {
		$(obj).parent().children('.crudMode').val('U');
	}
</script>
</head>
<body>
	<form id="frm" name="frm">
		<div align="center">
			<input type="hidden" id="faqSeq" name="faqSeq" th:value="${faqSeq}">
			<table id="faqTable">
				<tr>
					<th>제목</th>
					<td><input type="text" id="faqTitle" name="faqTitle"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><input type="text" id="faqContent" name="faqContent"></td>
				</tr>
				<tr>
					<td rowspan="12">첨부파일</td>
					<td><button type="button" onclick="fnAddFileRow()">추가</button></td>
				</tr>
			</table>
			<div>
				<button type="button" th:onclick="|fnDelBtn(*{faqSeq})|">삭제</button>
				<button type="button" th:onclick="|fnRegBtn(*{faqSeq})|">저장</button>
			</div>
		</div>
	</form>
</body>
<script type="text/x-jQuery-tmpl" id="addFileRow">
	<tr class="imgTr">
		<td class="imgTd">
			<input type="hidden" class="crudMode" value="C">
			<input type="text" class="imgTitle">
			<input type="file" id="file{{= idx}}" class="file" style="display:none;" onchange="fnFileUpload(this, {{= idx}})" accept=".gif, .jpg, .png, .jpeg">
			<label for="file{{= idx}}" id="fileNm{{= idx}}">선택된 파일 없음</label>
			<button type="button" onclick="fnDelFileRow(this)">삭제</button>
		</td>
	</tr>
</script>
</html>