<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<title>FAQ 목록</title>
<script>
	window.onload = function() {
		fnFaqList();
	}

	function fnFaqList() {
		AjaxUtil.get('/faq','', function(res, xhr) {
			let html = '';
			res.forEach(function(v, idx) {
				html += '<tr>'
				html += 	'<td>'+ v.faqSeq +'</td>';
				html += 	'<td><a href="/faq/detail/'+v.faqSeq+'">'+ v.faqTitle +'</a></td>';
				html += 	'<td>'+ v.faqContent +'</td>';
				html += 	'<td>'+ v.rgstDt +'</td>';
				html += '</tr>'
			});
			$('#faqBody').append(html);
		});


		var p = {

			success : function() {

			}
		}
		AjaxUtil.ajax(p)
	}

	function fnRegBtn() {
		location.href = '/faq/add';
	}

	function fnExcelUpload() {
		var formData = new FormData($('#excelFrm')[0]);
		AjaxUtil.file('post', '/faq/excel/upload',formData, function(res, xhr) {
			alert('업로드 성공');
			location.reload();
		});
	}

	function test() {
		AjaxUtil.post('/faq/test','', function(res) {
			alert('테스트 성공');
		});
	}
</script>
<style>
	a { text-decoration:none !important }
	a:hover { text-decoration:none !important }
</style>
</head>
<body>
	<div align="center">
		<form name="excelFrm" id="excelFrm">
			<table>
				<colgroup>
					<col width="50px">
					<col width="200px">
					<col width="200px">
					<col width="100px">
				</colgroup>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>내용</th>
					<th>등록일</th>
				</tr>
				<tbody id="faqBody">

				</tbody>
				<tr>
					<td colspan="4">
						<input type="file" name="excel" id="excel">엑셀 업로드
						<button type="button" onclick="fnExcelUpload()">제출</button>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: right;">
						<button type="button" onclick="fnRegBtn()">등록</button>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: right;">
						<button type="button" onclick="test()">AOP에러용</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>