<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<title>FAQ 등록</title>
<script>
	$.fn.serializeObject = function() {
	  var result = {}
	  var extend = function(i, element) {
	    var node = result[element.name]
	    if ("undefined" !== typeof node && node !== null) {
	      if ($.isArray(node)) {
	        node.push(element.value)
	      } else {
	        result[element.name] = [node, element.value]
	      }
	    } else {
	      result[element.name] = element.value
	    }
	  }

	  $.each(this.serializeArray(), extend)
	  return result
	}


	function fnRegBtn() {
		if($('#faqTitle').val() == '') {
			alert('제목을 입력해 주세요');
			$('#faqTitle').focus();
			return;
		}

		if($('#faqContent').val() == '') {
			alert('내용을 입력해 주세요');
			$('#faqContent').focus();
			return;
		}

		var formData = new FormData($('#frm')[0]);

		$.ajax({
			 url 		: '/faq/add'
			,type 		: 'post'
			,data 		: formData
			,contentType: false
			,processData: false
			,success	: function(res) {
				alert('저장 성공');
				location.href = '/faq/list';
			}
			,error 		: function(request) {
				alert(JSON.parse(request.responseText).reason);
			}
		})
	}

	function fnDelFileRow(obj) {
		$(obj).parent().parent().remove();
	}

	function fnAddFileRow() {
		if($('.file').length == 5) {
			alert('이미지는 최대 다섯개까지 추가 가능합니다.');
			return;
		}

		$('#addFileRow').tmpl().appendTo('#faqTable');
	}
</script>
</head>
<body>
	<div align="center">
		<form id="frm" name="frm">
			<table id="faqTable">
				<tr>
					<th>제목</th>
					<td><input type="text" id="faqTitle" name="faqTitle"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><input type="text" id="faqContent" name="faqContent"></td>
				</tr>
				<tr>
					<td rowspan="6">첨부파일</td>
					<td><button type="button" onclick="fnAddFileRow()">+</button></td>
				</tr>
			</table>
			<div>
				<button type="button" onclick="fnRegBtn()">저장</button>
			</div>
		</form>
	</div>
</body>
<script type="text/x-jQuery-tmpl" id="addFileRow">
	<tr>
		<td>
			<input type="file" name="file" id="file" class="file">
			<button type="button" onclick="fnDelFileRow(this)">-</button>
		</td>
	</tr>
</script>
</html>