<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/js/ajaxUtil.js"></script>
<title>FAQ 등록</title>
<script>
	function fnRegBtn() {
		if($('#faqTitle').val() == '') {
			alert('제목을 입력해 주세요');
			$('#faqTitle').focus();
			return;
		}

		if($('#faqContent').val() == '') {
			alert('내용을 입력해 주세요');
			$('#faqContent').focus();
			return;
		}
		$('.imgTd').each(function(v) {
			$(this).children('.file').prop('name', 'faqImgList['+v+'].imgFile');
			$(this).children('.crudMode').prop('name', 'faqImgList['+v+'].crudMode');
			$(this).children('.imgTitle').prop('name', 'faqImgList['+v+'].imgTitle');
		});

		var formData = new FormData($('#frm')[0]);
		AjaxUtil.file('post','/faq',formData, function(res, xhr) {
			alert('저장 성공');
			location.href = '/faq/list';
		});
	}

	function fnDelFileRow(obj) {
		$(obj).parent().parent().remove();
	}

	function fnAddFileRow() {
		if($('.file').length == 5) {
			alert('이미지는 최대 다섯개까지 추가 가능합니다.');
			return;
		}

		$('#addFileRow').tmpl().appendTo('#faqTable');
	}
</script>
</head>
<body>
	<div align="center">
		<form id="frm" name="frm">
			<table id="faqTable">
				<tr>
					<th>제목</th>
					<td><input type="text" id="faqTitle" name="faqTitle"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td><input type="text" id="faqContent" name="faqContent"></td>
				</tr>
				<tr>
					<td rowspan="6">첨부파일</td>
					<td><button type="button" onclick="fnAddFileRow()">+</button></td>
				</tr>
			</table>
			<div>
				<button type="button" onclick="fnRegBtn()">저장</button>
			</div>
		</form>
	</div>
</body>
<script type="text/x-jQuery-tmpl" id="addFileRow">
	<tr>
		<td class="imgTd">
			<input type="hidden" name="crudMode" class="crudMode" value="C">
			<input type="text" name="imgTitle" class="imgTitle">
			<input type="file" name="file" id="file" class="file">
			<button type="button" onclick="fnDelFileRow(this)">-</button>
		</td>
	</tr>
</script>
</html>